{% extends 'base.html' %}

{% block content %}
<h2>Add New Device</h2>
<form method="POST">
    {{ form.hidden_tag() }}  <!-- CSRF token -->

    <div class="form-group">
        {{ form.hostname.label }}  <!-- Label -->
        {{ form.hostname(class="form-control") }}  <!-- Input field -->
    </div>
    <div class="form-group">
        {{ form.site.label }}
        {{ form.site(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.serial_number.label }}
        {{ form.serial_number(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.division.label }}
        {{ form.division(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.instrument_type.label }}
        {{ form.instrument_type(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.lab_number.label }}
        {{ form.lab_number(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.ip_address.label }}
        {{ form.ip_address(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.ssh_username.label }}
        {{ form.ssh_username(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.ssh_password.label }}
        {{ form.ssh_password(class="form-control", type="password") }}
    </div>
    <div class="form-group">
        {{ form.shared_service.label }}
        {{ form.shared_service(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.owner_name.label }}
        {{ form.owner_name(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.owner_contact.label }}
        {{ form.owner_contact(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.configuration_details.label }}
        {{ form.configuration_details(class="form-control") }}
    </div>

    <button type="submit" class="btn btn-primary">Add Device</button>
</form>
{% endblock %}
